section {
    border: 1px solid red;
    width: 100%;
}

header {
    width: 100%;
    height: 100px;
    background-color: #eee;
}

#logo {
    display: flex;
    justify-content: flex-start;
    width: 60%;
}
